html {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	vertical-align: baseline;
    box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url(./home.png);
    background-repeat: no-repeat;
    background-size: cover;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

.title {
    text-align: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 34px;
    display: flex;
    justify-content: space-between;
}

.ancients-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 40%;
    gap: 20px;
    height: 600px;
    justify-content: center;
}
.ancient {
    height: 260px;
    width: 200px;
    cursor: pointer; 
    border-radius: 5px;
}
.azathoth {
    background-image: url(./assets/Ancients/Azathoth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cthulhu {
    background-image: url(./assets/Ancients/Cthulthu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.iogSothoth {
    background-image: url(./assets/Ancients/IogSothoth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shubNiggurath {
    background-image: url(./assets/Ancients/ShubNiggurath.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ancient-active {
    border: 1px solid red;
    transition:  0.5s;
}

.border {
    border: 1px solid red;
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 10%;
    opacity: 0;
    visibility: hidden;
}

.difficulty-visible {
    visibility: visible;
    opacity: 0.7;
    transition: 1s;
}

.difficulty {
    font-weight: 600;
    cursor: pointer;
}

.difficulty-active {
    border-color: red;
}

.difficulty:hover {
    color: purple;
    transition: .3s;
}


.shuffle {
    opacity: 0;
    font-weight: 600;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    position: relative;
    top: 40%;
}

.shuffle-visible {
    visibility: visible;
    opacity: 0.7;
    transition: 1s;
}

.shuffle:hover {
    color: purple;
    transition: .3s;
}

.deck-container {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.current-state {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 30%;
    opacity: 0;
    visibility: hidden;
}

.current-state-visible {
    visibility: visible;
    opacity: 0.7;
    transition: 1s;
}

.stage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stage-text {
    color: white;
}

.stage-text-active {
    color: purple;
}

.dots-container {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.dot {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
    border: 1px solid white;
}

.green {
    background-color: #3b5c2a;
}

.brown {
    background-color: #b1830f;
}

.blue {
    background-color: #485d9e;
}

.deck {
    height: 190px;
    width: 130px;
    background-image: url(./mythicCardBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.deck-visible {
    visibility: visible;
    opacity: 0.7;
    transition:  1s;
}

.last-card {
    background-size: cover;
    height: 190px;
    width: 130px;
    opacity: 0;
    visibility: hidden;
}

.last-card-visible {
    visibility: visible;
    opacity: 0.7;
    transition:  1s;
}
